.select__menu--input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  color: var(--dark);
  border: none;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: default;
  }

  &:disabled {
    opacity: 0.5;
  }
}
