div.select__menu {
  &--menu {
    border: 1px solid;
    position: absolute;
    top: calc(100% + 5px + var(--offset-top));
    left: var(--offset-left);
    width: 100%;
    display: none;
  }

  ul.select__menu--list {
    font-size: 1rem;
    padding: 5px 0;
  }
}

/* OPEN */
.select__menu[data-rsm-is-open='true'] {
  .select__menu--menu {
    display: block;
  }
}
