.select__menu {
  &--menu {
    border: 1px solid;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    display: none;
  }

  &--list {
    list-style: none;
    font-size: 1rem;
  }
}

/* OPEN */
.select__menu[data-rsm-is-open='true'] {
  .select__menu--menu {
    display: block;
  }
}
