.select__menu {
  &--menu {
    border: 1px solid;
    margin-top: 5px;
    padding: 5px 0;
    display: none;
  }

  &--list {
    font-size: 1rem;
    list-style: none;
  }
}

/* OPEN */
.select__menu[data-rsm-is-open='true'] {
  .select__menu--menu {
    display: block;
  }
}
