div.select__menu {
  display: flex;
  flex-direction: column;
  width: fit-content;
  color: var(--rsm-darkgray);
  position: relative;
  user-select: none;
  z-index: var(--zIndex);

  ul {
    list-style: none;
  }

  &--container {
    width: 100%;
    color: var(--rsm-darkgray);
    border: 1px solid var(--rsm-darkgray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;

    &[data-rsm-is-focused='true'] {
      outline: 1px solid var(--rsm-primary-color);
    }

    &:hover {
      cursor: default;
    }
  }

  &--indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;

    &-separator {
      background-color: var(--rsm-darkgray);
      align-self: stretch;
      width: 1px;
      margin: 5px 0;
    }
  }

  .select__menu--icon-container {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .select__menu--icon {
      width: 20px;
      height: 20px;
    }
  }
}

.select__menu * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* OPEN */
.select__menu[data-rsm-is-open='true'] {
  .select__menu--icon-chevron {
    transform: rotate(180deg);
  }
}
