.select__menu--group-label {
  padding: 0.25rem 0.5rem;
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}
